*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.title{
    color: white;
}

.container{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 10%;
    background-color: rgba(125, 125, 214, 0.24);
    
}
h2{ 
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}
p{
    margin-top: 20px;
    color:lightgray;
    
}
.icon-star{
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsl(214, 20%, 21%);
    
    
}
.avaliacao{
    display: flex;
}
.star-icon{
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color:  #ffe500;
    width: 100px;
    font-size: 50px;
    margin: 20px;
    border: none;
}
.star-icon::before{
    content: "\2605";/*preenche a estrelinha*/
}
.star-icon.ativo ~ .star-icon::before{
    content: "\2606"; /* o resto das entrelinhas ficam vazias, apenas a primeira preenchida*/
}
.avaliacao:hover .star-icon::before{
    content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 100px;
    height: 70px;
    margin-top: 30px; 
    border-style: hidden;
    border-radius: 20px;
    background-color: orange;
    cursor: pointer;
}
